[Unit]
Description=Weight Management App with SQLite
After=network.target

[Service]
Type=simple
User=pranavverma
WorkingDirectory=/home/pranavverma/Github/Server/Weight Manager
ExecStart=/usr/bin/node server.js
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=weight-manager

[Install]
WantedBy=multi-user.target
